

.loading-card{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

.loading-card > *{
    border-radius: 6px;
    margin: 6px;
    background-color: rgb(196, 196, 196);
}



.loading-title{
    height: 20%;
}

.loading-date{
    height: 10%;

}

.loading-image{
    height: 50%;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: 100%;
  }

.my-masonry-grid_column {
    padding: 10px; /* gutter size */
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-masonry-grid_column > * {
    margin: 10px;
  }

  @media only screen and (max-width: 768px) {
    
        
  }